header {
  margin-top: 30px;
}

.container {
  padding: 0 30px;
}

.btn-buy {
  background-color: black;
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 10px;
}
/* 
carosoul
 */
.carousel-indicators li {
  background-color: #cecece;
  width: 10px;
  height: 7px;
  border-radius: 5px;
}
.carousel-indicators .active {
  background-image: linear-gradient(to right, #ffb627, #ffd019);
  width: 30px;
  height: 7px;
  border-radius: 5px;
}
.caro-pad {
  padding: 0px 30px;
}

/* smart phone */
.head {
  margin: 80px 0px;
}
.small-link a {
  color: #ffb627;
}
.card {
  border: none;
  box-sizing: border-box;
  box-shadow: 8px 8px 10px #cecece;
  border-radius: 10px;
}
.card img {
  width: 300px;
}
.card-footer {
  border: none;
}

/* categories */

#categories h2::after {
  display: block;
  height: 6px;
  background-image: linear-gradient(#ffd019, #ffb627);
  width: 100px;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 10px;
  content: "";
}
#categories h2 {
  margin-bottom: 80px;
}
#catagory-img img {
  width: 555px;
}
.ff {
  /* margin-top: 80px; */
  height: 400px;
}
p {
  color: gray;
  font-size: 14px;
}
